---
layout: ../layouts/Base.astro
title: "Search - FreeToRaid"
---

<h1>Search</h1>
<input type="text" id="searchInput" placeholder="Search champions or guides..." />
<ul id="resultsList"></ul>

<script src="/search.js"></script>
